service cloud.firestore {
  match /databases/{database}/documents {
    match /customersv2/{customer} {
      allow read, write: if request.auth.uid != null;
    }

    match /customers/{customer} {
      allow read, write;
    }

    match /log/{log} {
      allow read, write;
    }
  }
}